/* Custom Gantry Branding */
 .top-bar,
  .top-bar ul {
    background-color: #222222; }
 .top-bar a {
	color: #ffffff; }
 .top-bar a:hover {
	color: #999999; }

 .logo {
	padding-top: 0.25rem; }

  .menu .is-active > a {
	border-bottom: 1px solid #ffffff;
	background: #222222;
    color: #999999; }

  .charcoal {
	background-color: #444444;}