

<!--Begin Header Bar-->
		<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
		  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
		  <div class="title-bar-title">Menu</div>
		</div>

		<div class="top-bar" id="responsive-menu">
		  <div class="top-bar-left">
			<ul class="menu">
			  <li><img src="images/gantry-logo-rect.png" class="logo"></li>
			  <li><a href="index.html">Home</a></li>
			  <!--<li class="is-active"><a href="index.html">Home</a></li>-->
			  <li><a href="getstarted.html">Get Started</a></li>
			  <li><a href="documentation.html">Documentation</a></li>
			  <!--<li><a href="faq.html">FAQ</a></li>-->
			  <!-- <li><a href="screenshots.html">Screenshots</a></li> not currently used -->
			  <li><a href="about.html">About</a></li>
			</ul>
		  </div>
		  <div class="top-bar-right">
			<ul class="menu">
			  <!--<li><a href="/dashboard/index.html">Login</a></li>-->
			  <!--<li><a href="/dashboard/index.html">Login</a></li>-->
				<li>
					<h2><a href="https://gitlab.com/gantry/installers" target="_blank" class="primary button float-right">GitLab Repository</a></h2>
				</li>
			</ul>
		  </div>
		</div>
		<script>$(document).foundation();</script>

<!--End Header Bar-->
